body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to left,#4fae,#9fea);
}
.slider-container{
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
}
.image-container{
display: flex;
transition: all .5s ease-in-out;
}

.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: aqua;
    font-size: 30px;
    font-weight: bold;
    opacity: .5;
    cursor: pointer;
}
.btn.prev{
    right: 10px;
}
.btn.next{
    left: 10px;
}
.btn:hover{
    opacity: 1;
}
